.sidebar {
  height: 95vh;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2.5vh 50px 2.5vh 50px;
}


/* Right bar style */
.rightbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex: 0.2;
}

.logo {
  width: 45px;
}

.sn-logo {
  padding: 10px 0px;
}

.social-network-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Left bar style */
.leftbar {
  flex: 0.2;
  background-color: var(--ufop-color);
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* New Page style */
.new-chat {
  display: flex;
  align-items: center;
  justify-content: start;
  outline: none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: var(--ufop-color);
  border: 1px solid var(--yellow-ish);
  color: var(--yellow-ish);
  cursor: pointer;
  flex: 0.1;
  max-height: 2rem;
}

.new-chat:hover {
  background-color: var(--yellow-ish);
  border: 1px solid var(--dark-text);
  color: var(--dark-text);
  font-weight: 900;
}

.new-chat svg {
  margin-right: 10px;
}


/* Log style */
.log {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
  margin: 10px 0px;
}

.log p {
  color: var(--yellow-ish);
  font-weight: 200;
  text-align: start;
  width: calc(100% + 20px);
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  max-height: 2rem;
  background-color: var(--white-light);
  border-radius: 10px;
  width: 100%;
  margin: 5px 0px;
  padding: 0px 20px;
  overflow: hidden;
  cursor: pointer;
}

.page-content {
  padding: 20px 0px;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  max-height: 1.5rem;
  text-overflow: ellipsis;
}

.page-container span {
  width: 100%;
}

.page-content::after {
  content: '...';
}

.selected {
  color: var(--yellow-ish);
  font-weight: 900;
}

/* About style */
.about {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  max-height: 4rem;
  align-items: start;
  justify-content: space-around;
  text-align: center;
  width: 150%;
  background-color: var(--ufop-color);
}

.about p {
  color: var(--yellow-ish);
  font-weight: 100;
  font-size: small;
  width: 100%;
}

.about span {
  font-weight: 400;
}

.about .divider {
  height: 1px;
  min-height: 1px;
  background-color: var(--yellow-ish);
  width: 100%;
}