.sidebar {
  height: 95vh;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2.5vh 50px 2.5vh 50px;
}

.leftbar {
  flex: 0.2;
  background-color: var(--ufop-color);
}

.rightbar {
  align-items: flex-end;
  justify-content: space-between;
  flex: 0.2;
}

.logo {
  width: 45px;
}

.sn-logo {
  padding: 10px 0px;
}

.social-network-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-chat {
  display: flex;
  align-items: center;
  justify-content: space-around;
  outline: none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: var(--ufop-color);
  border: 1px solid var(--yellow-ish);
  color: var(--yellow-ish);
  cursor: pointer;
}

.new-chat:hover {
  background-color: var(--yellow-ish);
  border: 1px solid var(--dark-text);
  color: var(--dark-text);
  font-weight: 900;
}


.log {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log p {
  color: var(--yellow-ish);
  font-weight: 200;
}

.page-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  overflow: hidden;
  max-height: 1rem;
  padding: 10px 20px;
  background-color: var(--white-light);
  border-radius: 10px;
  width: 100%;
}

.page-container::after {
  content: '...'
}