.sidebar {
  height: 95vh;
  display: flex;
  flex-direction: column;
  padding: 2.5vh 50px 2.5vh 50px;
}


/* Right bar style */
.rightbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex: 0.2;
}

.logo {
  width: 45px;
}

.sn-logo {
  padding: 10px 0px;
}

.social-network-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Left bar style */
.leftbar {
  flex: 0;
  width: 0;
  background-color: var(--ufop-color);
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  -webkit-transition-property: width, visibility, opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-property: width, visibility, opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-property: width, visibility, opacity;
  -o-transition-duration: 0.5s;
  transition-property: width, visibility, opacity;
  transition-duration: 0.5s;
  transition: 0.5s;

  visibility: hidden;
  opacity: 0;
}


/* New Page style */
.new-chat {
  display: flex;
  align-items: center;
  justify-content: start;
  outline: none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: var(--ufop-color);
  border: 1px solid var(--yellow-ish);
  color: var(--yellow-ish);
  cursor: pointer;
  flex: 0.1;
  max-height: 3rem;
}

.new-chat:hover {
  background-color: var(--yellow-ish);
  border: 1px solid var(--dark-text);
  color: var(--dark-text);
  font-weight: 900;
}

.new-chat svg {
  margin-right: 10px;
}


/* Log style */
.log {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
  margin: 10px 0px;
}

.log p {
  color: var(--yellow-ish);
  font-weight: 200;
  text-align: start;
  width: calc(100% + 20px);
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  max-height: 2rem;
  background-color: var(--white-light);
  border-radius: 10px;
  width: 100%;
  margin: 5px 0px;
  padding: 0px 20px;
  overflow: hidden;
  cursor: pointer;
}

.page-content {
  padding: 20px 0px;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  max-height: 1.5rem;
  text-overflow: ellipsis;
}

.page-container span {
  width: 100%;
}

.page-content::after {
  content: '...';
}

.selected {
  color: var(--yellow-ish);
  font-weight: 900;
}

/* About style */
.about {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  max-height: 4rem;
  align-items: start;
  justify-content: space-around;
  text-align: center;
  width: 150%;
  background-color: var(--ufop-color);
}

.about p {
  color: var(--yellow-ish);
  font-weight: 100;
  font-size: small;
  width: 100%;
}

.about span {
  font-weight: 400;
}

.about .divider {
  height: 1px;
  min-height: 1px;
  background-color: var(--yellow-ish);
  width: 100%;
}


.AddIcon {
  width: 10%;
  min-width: 20px;
}


/* Responsiveness */
@media only screen and (min-width: 2000px) {
  .new-chat {
    font-size: 1.5em;
  }

  .log p,
  .log span {
    font-size: 1.2em;
  }

  .about p,
  .about span {
    font-size: 1.2em;
  }
}


@media only screen and (max-width: 1024px) {
  .new-chat {
    font-size: 0.8em;
  }

  .log p,
  .log span {
    font-size: 0.8em;
  }

  .about p,
  .about span {
    font-size: 0.8em;
  }
}


@media only screen and (max-width: 762px) {
  .rightbar {
    padding: 2.5vh 20px;
    position: absolute;
    right: 0px;
  }

  .logo {
    width: 6vw;
  }

  .social-network-section {
    display: none;
  }

  .leftbar {
    position: absolute;
    max-width: 45%;
    z-index: 2;
  }

  .toggle.toggled {
    position: absolute;
    left: 65vw;
    background-color: var(--yellow-ish);
    border-radius: 50%;
  }

}

.leftbar.showMenu {
  flex: 0.2;
  width: 100%;
  visibility: visible;
  opacity: 1;
}

.rightbar.hidden {
  flex: 0
}

/* Toggle menu icon */
.toggle {
  display: flex;
  position: absolute;
  z-index: 2;
  background-color: transparent;
  width: 60px;
  height: 60px;
  margin: 2.5vh 10px;
  border: none;
  transition: 0.5s;
}

.toggled.toggle {
  position: relative;
  z-index: 2;
  transition: 0.5s;
}

/* Top dash  */
.toggle_icon::before {
  bottom: 8px;
}

/* Bottom dash  */
.toggle_icon::after {
  top: 8px;
}

.toggle_icon,
.toggle_icon::before,
.toggle_icon::after {
  background-color: var(--ufop-color);
  position: absolute;
  width: 30px;
  height: 2px;
  border-radius: 4px;
}

.toggle_icon {
  top: calc(50%);
  left: calc(50% - 20px);
}

/* Set top and bottom bars to the left */
.toggle_icon::before,
.toggle_icon::after {
  content: "";
  left: 0px;
}

.toggled .toggle_icon::before,
.toggled .toggle_icon::after {
  content: "";
  left: 10px;
}

.toggle_icon,
.toggle_icon::before,
.toggle_icon::after {
  transition: 0.6s;
}