#root {
  --ufop-color: #962038;
  --dark-text: #211E2F;
  --dark-text-light: rgba(33, 30, 47, 0.3);
  --yellow-ish: #FDF0D5;
  --white-light: rgba(255, 255, 255, 0.3);
  --filter-ufop-color: invert(19%) sepia(58%) saturate(2644%) hue-rotate(326deg) brightness(87%) contrast(96%);
  --filter-yellowish-color: invert(90%) sepia(93%) saturate(228%) hue-rotate(307deg) brightness(104%) contrast(98%);
}


.outter-main {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  position: relative;
}

.main {
  display: flex;
  height: 100vh;
  position: relative;
  justify-content: space-between;
  z-index: 1;
}

.central {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: var(--dark-text);
  text-align: center;
}

h1>span {
  color: var(--ufop-color);
  font-weight: 900;
  font-size: 2em;
}

.top-title {
  color: var(--dark-text);
  text-align: center;
  top: 2vh;
}

h2>span {
  color: var(--ufop-color);
  font-weight: 900;
  font-size: 1em;
}

.mountains-BG {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

@media only screen and (min-width: 2000px) {
  h1 {
    font-size: 3.5em;
  }

  h1>span {
    font-weight: 900;
    font-size: 3em;
  }
}

@media only screen and (max-width: 762px) {}